doctype html
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='apple-touch-icon' sizes='76x76' href='/assets/img/apple-icon.png')
        link(rel='icon' type='image/png' href='/assets/img/favicon.png')
        title
            | Conjugator - learn languages at ease
        // Fonts and icons
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700')
        // Nucleo Icons
        link(href='/assets/css/nucleo-icons.css' rel='stylesheet' type="text/css")
        link(href='/assets/css/nucleo-svg.css' rel='stylesheet' type="text/css")
        // Font Awesome Icons
        script(src='https://kit.fontawesome.com/42d5adcbca.js' crossorigin='anonymous')
        // Material Icons
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Round' rel='stylesheet' type="text/css")
        // CSS Files
        link(href='/assets/css/material-kit-pro.css?v=3.0.3' rel='stylesheet' type="text/css")

        link(rel='stylesheet' href='/assets/css/clockStyles.css' type="text/css")
