include Head
header
    .page-header.min-vh-100(style="background-image: url('https://images.unsplash.com/photo-1520769945061-0a448c463865?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');" loading='lazy')
        span.mask.bg-gradient-dark.opacity-5
        .container
            .row
                .col-lg-6.col-md-7.d-flex.justify-content-center.flex-column
                    h1.text-white.mb-4 Material Kit
                    p.text-white.opacity-8.lead.pe-5.me-5
                        | The time is now for it be okay to be great. People in this world shun people for being nice.
                    .buttons
                        button.btn.btn-white.mt-4(type='button') Get Started
                        button.btn.text-white.shadow-none.mt-4(type='button') Read more
