include NavbarTransparent
tobody.sign-up-basic
    .page-header.align-items-start.min-vh-100(style="background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');" loading='lazy')
        span.mask.bg-gradient-dark.opacity-6
        .container.my-auto
             .row
                .wrapper
                    .col-lg-4.col-md-8.mx-auto
                        .card.z-index-0.fadeIn3.fadeInBottom
                            .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
                                .bg-gradient-success.shadow-success.border-radius-lg.py-3.pe-1
                                    h4.text-white.font-weight-bolder.text-center.mt-2.mb-0 Register with
                                    .row.mt-3
                                        .col-2.text-center.ms-auto
                                            a.btn.btn-link.px-3(href='javascript:;')
                                                i.fa.fa-facebook.text-white.text-lg
                                        .col-2.text-center.px-1
                                            a.btn.btn-link.px-3(href='javascript:;')
                                                i.fa.fa-github.text-white.text-lg
                                        .col-2.text-center.me-auto
                                            a.btn.btn-link.px-3(href='javascript:;')
                                                i.fa.fa-google.text-white.text-lg
                            .row.px-xl-5.px-sm-4.px-3
                                .mt-2.position-relative.text-center
                                    p.text-sm.font-weight-bold.mb-2.text-secondary.text-border.d-inline.z-index-2.bg-white.px-3
                                        | or
                            .card-body
                                form(role='form' action="/submit-registration" method="post")
                                    .input-group.input-group-dynamic.mb-3
                                        label.form-label Name
                                        input.form-control(name="name" type='text' aria-label='Name')
                                    .input-group.input-group-dynamic.mb-3
                                        label.form-label Email
                                        input.form-control(name="email" type='email' aria-label='Email')
                                    .input-group.input-group-dynamic.mb-3
                                        label.form-label Password
                                        input.form-control(name="password" type='password' aria-label='Password')
                                    .form-check.text-start.ps-0
                                        input#flexCheckDefault.form-check-input.bg-dark.border-dark(type='checkbox' value='' checked='')
                                        label.form-check-label(for='flexCheckDefault')
                                            | I agree the
                                            a.text-dark.font-weight-bolder(href='javascript:;') Terms and Conditions
                                    .text-center
                                        button.btn.bg-gradient-dark.w-100.my-4.mb-2(type='submit' value="submit") Sign up
                                    p.text-sm.mt-3.mb-0
                                        | Already have an account?
                                        a.text-dark.font-weight-bolder(href='javascript:;') Sign in
